* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  
  .container {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .material-icons {
    display: inline-flex;
    vertical-align: text-bottom;
    font-size: 24px;
  }
  
  .material-icons.fill {
    color: goldenrod;
  }

  
  a {
    color: #141414;
    text-decoration: none;
  }
  a:hover {
    color: goldenrod;
  }
  
  hr {
    background-color: #141414;
  }
  
  .d-flex {
    flex-wrap: wrap;
  }
  

  @media (max-width: 400px) {
    input {
      width: 122px!important;
    }
  }